# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environments
# ==========================
venv/
.venv/
env/

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# Python Cache & Testing
# ==========================
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# ==========================
# Build Files
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db